/**
 * Block Style: Jazz Cover
 */

.is-style-jazz-cover {
	position: relative;
	transition: clip-path 0.2s;
	clip-path: polygon(39% 45%, 36% 3%, 20% 4%, 20% 12%, 5% 10%, 0% 97%, 17% 98%, 20% 25%, 22% 90%, 36% 89%, 36% 96%, 53% 96%, 57% 59%, 57% 98%, 78% 98%, 78% 45%, 83% 89%, 100% 86%, 93% 2%, 74% 4%, 75% 19%, 60% 19%, 61% 1%, 43% 0%);
}

.is-style-jazz-cover img {
	filter: grayscale(100%) contrast(200%);
}

.is-style-jazz-cover:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url('./assets/noise.gif');
	background-size: 2048px 2048px;
	z-index: 500;
	mix-blend-mode: exclusion;
	filter: grayscale(100%) contrast(200%);
}

.is-style-jazz-cover:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: red;
	z-index: 501;
	opacity: 0.9;
	filter: contrast(80%);
	mix-blend-mode: multiply;
}

.is-style-jazz-cover:hover {
  clip-path: polygon(37% 13%, 35% 0%, 16% 4%, 18% 12%, 6% 11%, 0% 97%, 21% 98%, 23% 71%, 26% 88%, 32% 87%, 32% 91%, 55% 93%, 58% 44%, 62% 95%, 83% 93%, 81% 47%, 74% 80%, 96% 82%, 100% 5%, 80% 3%, 79% 13%, 59% 15%, 60% 5%, 38% 3%);
}


/**
 * Block Style: Photocopy Image
 */

.wp-block-image.is-style-photocopy {
	position: relative;
}

.wp-block-image.is-style-photocopy img {
	filter: grayscale(100%) contrast(800%);
}

.wp-block-image.is-style-photocopy:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url('./assets/noise.gif');
	background-size: 2048px 2048px;
	z-index: 500;
	mix-blend-mode: exclusion;
	filter: grayscale(100%) contrast(200%);
}

/* Use a higher-resolution noise pattern on high-res screens */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	.wp-block-image.is-style-photocopy:before {
		background-size: 1024px 1024px;
	}
}

svg.photocopier-svg-filter {
	position: absolute;
	height: 0;
	width: 0;
}

/* Try not to overlap the caption in the editor ¯\_(ツ)_/¯ */
.wp-block-image.is-selected.is-style-photocopy:before
.wp-block-image.is-focused.is-style-photocopy:before {
	bottom: calc( 1.5em + 13px );
}


/**
 * Block Style: Warped Text
 */

h1.is-style-warped:not(.is-selected),
h2.is-style-warped:not(.is-selected),
h3.is-style-warped:not(.is-selected),
h4.is-style-warped:not(.is-selected),
h5.is-style-warped:not(.is-selected),
h6.is-style-warped:not(.is-selected) {
	filter: url(#photocopy-filter-warp-text);
	transform: scale(1,2) translateY(-15%);
}


/**
 * Block Style: Baseline Shift
 */

.is-style-baseline-shift > span {
	position: relative;
	transition: all 2s ease-in-out;
	top: 0;
	right: 0;
	left: 0;
}

.is-style-baseline-shift:hover > span {
	top: 0 !important;
	right: 0 !important;
	left: 0 !important;
}

.is-style-baseline-shift > span:nth-child(5n+1),
.is-style-baseline-shift > span:nth-child(5n+4) {
	top: 0;
	left: -1.5em;
}

.is-style-baseline-shift > span:nth-child(6n+2) {
	top: 1em;
	right: 0.5em;
}

.is-style-baseline-shift > span:nth-child(10n+5) {
	top: 2em;
	right: 1em;
}

.is-style-baseline-shift > span:nth-child(10n+3),
.is-style-baseline-shift > span:nth-child(10n+7) {
	top: -1em;
}

.is-style-baseline-shift > span:nth-child(10n+10) {
	top: -2em;
	left: 2em;
}

/**
 * Block Style: Photocopy Collage
 */

/* Gallery Shared Rules */

.wp-block-gallery.is-style-collage-stacked:not(.is-selected):not(.has-child-selected) {
	position: relative;
	flex-wrap: nowrap;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
}

.wp-block-gallery.blocks-gallery-grid.has-nested-images.columns-default.is-style-collage-stacked:not(.is-selected):not(.has-child-selected) figure.wp-block-image {
	width: 100% !important;
	margin: 0;
	padding: 0;
}

.wp-block-gallery.is-style-collage-stacked .wp-block-image {
	filter: grayscale(100%) contrast(800%);
	object-fit: cover;
}

.wp-block-gallery.is-style-collage-stacked:not(.is-selected):not(.has-child-selected) .wp-block-image figcaption {
	display: none;
}

.wp-block-gallery.is-style-collage-stacked:not(.is-selected):not(.has-child-selected):before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url('./assets/noise.gif');
	background-size: 125px 125px;
	z-index: 500;
	mix-blend-mode: exclusion;
}

.wp-block-gallery.is-style-collage-stacked:not(.is-selected):not(.has-child-selected) .wp-block-image:not(:nth-child(2)) {
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	mask-size: cover;
	-webkit-mask-size: cover;
	mask-position: center;
	-webkit-mask-position: center;
}

/* Gallery Individual Rules */

.wp-block-gallery.is-style-collage-stacked:not(.is-selected):not(.has-child-selected) .wp-block-image:first-child {
	z-index: 2;
	mask-image: url('./assets/tear-a.svg');
	-webkit-mask-image: url('./assets/tear-a.svg');
	height: 400px;
}

.wp-block-gallery.is-style-collage-stacked:not(.is-selected):not(.has-child-selected) .wp-block-image:nth-child(2) {
	z-index: 1;
	margin-top: -100px !important;
	height: 500px;
}

.wp-block-gallery.is-style-collage-stacked:not(.is-selected):not(.has-child-selected) .wp-block-image:nth-child(2):last-child {
	margin-top: -100px !important;
	height: 400px;
}

.wp-block-gallery.is-style-collage-stacked:not(.is-selected):not(.has-child-selected) .wp-block-image:nth-child(3) {
	z-index: 2;
	mask-image: url('./assets/tear-b.svg');
	-webkit-mask-image: url('./assets/tear-b.svg');
	height: 500px;
	margin-top: -130px !important;
}

.wp-block-gallery.is-style-collage-stacked:not(.is-selected):not(.has-child-selected) .wp-block-image:nth-child(3):last-child {
	margin-top: -100px !important;
	height: 400px;
}

.wp-block-gallery.is-style-collage-stacked:not(.is-selected):not(.has-child-selected) .wp-block-image:nth-child(4) {
	z-index: 3;
	mask-image: url('./assets/tear-c.svg');
	-webkit-mask-image: url('./assets/tear-c.svg');
	height: 700px;
	margin-top: -350px !important;
}

.wp-block-gallery.is-style-collage-stacked:not(.is-selected):not(.has-child-selected) .wp-block-image:nth-child(4):last-child {
	margin-top: -300px !important;
	height: 600px;
}

.wp-block-gallery.is-style-collage-stacked:not(.is-selected):not(.has-child-selected) .wp-block-image:nth-child(5) {
	z-index: 4;
	mask-image: url('./assets/tear-d.svg');
	-webkit-mask-image: url('./assets/tear-d.svg');
	height: 700px;
	margin-top: -350px !important;
}

.wp-block-gallery.is-style-collage-stacked:not(.is-selected):not(.has-child-selected) .wp-block-image:nth-child(5):last-child {
	margin-top: -300px !important;
	height: 600px;
}

.wp-block-gallery.is-style-collage-stacked:not(.is-selected):not(.has-child-selected) .wp-block-image:nth-child(6) {
	z-index: 5;
	mask-image: url('./assets/tear-e.svg');
	-webkit-mask-image: url('./assets/tear-e.svg');
	height: 700px;
	margin-top: -350px !important;
}

.wp-block-gallery.is-style-collage-stacked:not(.is-selected):not(.has-child-selected) .wp-block-image:nth-child(6):last-child {
	margin-top: -300px !important;
	height: 600px;
}

.wp-block-gallery.is-style-collage-stacked:not(.is-selected):not(.has-child-selected) .wp-block-image:nth-child(7) {
	z-index: 5;
	mask-image: url('./assets/tear-f.svg');
	-webkit-mask-image: url('./assets/tear-f.svg');
	height: 700px;
	margin-top: -350px !important;
}

.wp-block-gallery.is-style-collage-stacked:not(.is-selected):not(.has-child-selected) .wp-block-image:nth-child(7):last-child {
	margin-top: -300px !important;
	height: 600px;
}